@model TeduCoreApp.Data.ViewModels.PageViewModel
<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
       
        .container {
            background: #fff;
            min-height: 800px;
        }
        @@media only screen and (max-width: 600px) {
          img {
                width: 100%;
                height: auto;
            }
        }

    </style>
</head>
<body>
    <div class="container">
        @Html.Raw(Model.Content)
    </div>
</body>
</html>
